<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/main_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/main_logo"
        android:supportsRtl="true"
        android:name=".utils.MyApp"
        android:theme="@style/Theme.FrenchConnectionUser"
        tools:targetApi="31">
        <activity
            android:name=".activities.BookingActivity"
            android:exported="false" />
        <activity
            android:name=".activities.YourDestinationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.YourRideActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ConversationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DriverInfoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name="com.usaclean.frenchconnectiondriver.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <service
            android:name=".utils.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />
    </application>

</manifest>